@model Modelo.Tabelas.Endereco
@{ ViewBag.Title = "FutShirt";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section styles{
    <link rel="stylesheet" href="~/Content/cadastro.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
}
<main>
    <div class="cabecalho">
        <h2>Endereço</h2>
        <div class="breadcrumbs">
            <a href="#">Dados Pessoais</a>
            <a href="#">Confirmar Email</a>
            <a href="#" class="active">Endereço</a>
        </div>
    </div>

    <article>
        @using (Html.BeginForm("CreateStepThree", "Endereço", FormMethod.Post, new { @class = "dados" }))
        {
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Cep)
            <div class="dados-preencher">
                <i class="fas fa-map-marker-alt icon"></i>
                @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @type = "text", id = "cep", @class = "input-field", autocomplete = "off", placeholder = "Digite seu CEP", onkeypress = "mascara(this, '#####-###')", maxlength = "9", required = "required" } })
                @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Estado)
            <div class="dados-preencher">
                <i class="fas fa-map-marked-alt icon"></i>
                @Html.DropDownList("estados")
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Cidade)
            <div class="dados-preencher">
                <i class="fas fa-map-marked-alt icon"></i>
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @type = "text", id = "cidade", @class = "input-field", autocomplete = "off", placeholder = "Digite sua cidade", required = "required" } })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Bairro)
            <div class="dados-preencher">
                <i class="fas fa-road icon"></i>
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @type = "text", id = "bairro", @class = "input-field", autocomplete = "off", placeholder = "Digite seu estado", required = "required" } })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Logradouro)
            <div class="dados-preencher">
                <i class="fas fa-road icon"></i>
                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @type = "text", id = "logradouro", @class = "input-field", autocomplete = "off", placeholder = "Digite seu logradouro", required = "required" } })
                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Numero)
            <div class="dados-preencher">
                <i class="fas fa-home icon"></i>
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @type = "text", id = "numero", @class = "input-field", autocomplete = "off", placeholder = "Digite aqui", required = "required" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="dados-cadastro">
            @Html.LabelFor(model => model.Complemento)
            <div class="dados-preencher">
                <i class="fas fa-info icon  "></i>
                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @type = "text", id = "comp", @class = "input-field", autocomplete = "off", placeholder = "Digite aqui", required = "required" } })
                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="bt-container">
                <input type="submit" id="conf" value="Finalizar">
            </div>
            }
</article>
</main>
@section scripts{
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/js/cep_auto.js"></script>
    <script src="https://kit.fontawesome.com/27079de5c2.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/endereço-dadospessoais.js"></script>
    <script src="~/Content/js/main.js"></script>
}