@model Modelo.Tabelas.Usuario
@{
    ViewBag.Title = "FutShirt - Meus dados";
    Layout = "~/Areas/Usuarios/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Content/minha_conta.css">
}
<main>
    <div class="cabecalho">
        <h2>Minha Conta</h2>
    </div>
    <nav class="voltar-index">
        <h2><a href="index.html"><i class="fas fa-angle-left"></i>voltar</a></h2>
    </nav>
    <div>
        <nav>
            <ol>
                <li><a href="meus_dados.html" class="active"><img src="~/Content/Images/carteirinha.svg" alt="">Meus dados</a></li>
                <li><a href="enderecos_minha_conta.html"><img src="~/Content/Images/enderecos.svg" alt="">Endereços</a></li>
                <li><a href="meus_pedidos.html"><img src="~/Content/Images/camisa_pedidos.svg" alt="">Meus pedidos</a></li>
                <li><a href="meus_favoritos.html"><img src="~/Content/Images/estrela.svg" alt="">Favoritos</a></li>
                <li><a href="meus_cartoes.html"><img src="~/Content/Images/cartoes.svg" alt="">Meus cartões</a></li>
            </ol>
        </nav>
        <section class="container-meus-dados">
            <div class="cabecalho-topico">
                <h3>Meus dados</h3>
            </div>

            <div class="dados">
                <div class="dados-pessoais">
                    <h4>Dados pessoais</h4>
                    @using (Html.BeginForm("EditarUsuario", "Usuario", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Email)
                        @Html.HiddenFor(model => model.Senha)
                        @Html.HiddenFor(model => model.ConfirmarSenha)
                        @Html.HiddenFor(model => model.ContaAtiva)
                        <div>
                            <label for="nome-completo">Nome completo</label>
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { id = "nome-completo", @type = "text", maxlength = "130" } })
                        </div>
                        <div>
                            <label for="data-nascimento">Data de nascimento</label>
                            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { id = "data-nascimento", @type = "text" } })
                        </div>
                        <div>
                            <label for="cpf">CPF</label>
                            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { id = "cpf", onloadeddata = "mascara(this, '###.###.###-##')", @type = "text", maxlength = "14" } })
                        </div>
                        @*<div>
                <label for="sexo">Sexo</label>
                <div class="container-sexo">
                    <label for="masculino"><input type="radio" name="sexo" id="masculino"> Masculino</label>
                    <label for="feminino"><input type="radio" name="sexo" id="feminino"> Feminino</label>
                </div>
            </div>*@
                        <div>
                            <label for="telefone">Telefone</label>
                            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { id = "telefone", @type = "text", maxlength = "130" } })
                        </div>
                        @Html.ActionLink("Desativar conta", "DesativarConta", new { id = Model.Id }, new { @style = "color: red;" })
                        <input type="submit" value="Salvar informações">
                    }
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts{
    <script src="https://kit.fontawesome.com/27079de5c2.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/main.js"></script>
}