@model Modelo.Tabelas.Endereco

@{
    ViewBag.Title = "MeusEnderecos";
    Layout = "~/Areas/Usuarios/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Content/minha_conta.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
}
<main>
    <div class="cabecalho">
        <h2>Minha Conta</h2>
    </div>
    <nav class="voltar-index">
        <h2><a href="index.html"><i class="fas fa-angle-left"></i>voltar</a></h2>
    </nav>
    <div>
        <nav>
            <ol>
                <li><a href="meus_dados.html"><img src="~/Content/Images/carteirinha.svg" alt="">Meus dados</a></li>
                <li><a href="enderecos_minha_conta.html" class="active"><img src="~/Content/Images/enderecos.svg" alt="">Endereços</a></li>
                <li><a href="meus_pedidos.html"><img src="~/Content/Images/camisa_pedidos.svg" alt="">Meus pedidos</a></li>
                <li><a href="meus_favoritos.html"><img src="~/Content/Images/estrela.svg" alt="">Favoritos</a></li>
                <li><a href="meus_cartoes.html"><img src="~/Content/Images/cartoes.svg" alt="">Meus cartões</a></li>
            </ol>
        </nav>
        <section class="container-enderecos">
            <div class="cabecalho-topico">
                <h3>Endereços</h3>
            </div>

            <div class="container-enderecos-cadastrados">
                <div class="endereco-cadastrado">
                    <p class="cep">CEP: 59122-080</p>
                    <p class="descricao-1">Rua da XXXX, número, bairro</p>
                    <p class="descricao-2">Natal - RN</p>

                    <button id="ende01">Exibir</button>
                </div>
                <div class="endereco-cadastrado">
                    <p class="cep">CEP: 59122-080</p>
                    <p class="descricao-1">Rua da XXXX, número, bairro</p>
                    <p class="descricao-2">Natal - RN</p>

                    <button id="ende02">Exibir</button>
                </div>
            </div>

            <!-- <form action="" class="dados" style="display: none;">
         <div class="dados-cadastro">
             <label for="cep">CEP</label>
             <div class="dados-preencher">
                 <i class="fas fa-map-marker-alt icon"></i>
                 <input type="text" class="input-field" name="cep" id="cep" onkeypress="mascara(this, '#####-###')" maxlength="9" placeholder="000000-000" autocomplete="off" required pattern="\d{5}-\d{3}" />
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="UF">Estado</label>
             <div class="dados-preencher">
                 <i class="fas fa-map-marked-alt icon"></i>
                 <select name="estado" id="estado" class="select-field" required>
                     <option value="" class="sel" disabled="disabled" selected="selected">Selecione seu Estado</option>
                     <option value="AC">Acre</option>
                     <option value="AL">Alagoas</option>
                     <option value="AP">Amapá</option>
                     <option value="AM">Amazonas</option>
                     <option value="BA">Bahia</option>
                     <option value="CE">Ceará</option>
                     <option value="DF">Distrito Federal</option>
                     <option value="ES">Espírito Santo</option>
                     <option value="GO">Goiás</option>
                     <option value="MA">Maranhão</option>
                     <option value="MT">Mato Grosso</option>
                     <option value="MS">Mato Grosso do Sul</option>
                     <option value="MG">Minas Gerais</option>
                     <option value="PA">Pará</option>
                     <option value="PB">Paraíba</option>
                     <option value="PR">Paraná</option>
                     <option value="PE">Pernambuco</option>
                     <option value="PI">Piauí</option>
                     <option value="RJ">Rio de Janeiro</option>
                     <option value="RN">Rio Grande do Norte</option>
                     <option value="RS">Rio Grande do Sul</option>
                     <option value="RO">Rondônia</option>
                     <option value="RR">Roraima</option>
                     <option value="SC">Santa Catarina</option>
                     <option value="SP">São Paulo</option>
                     <option value="SE">Sergipe</option>
                     <option value="TO">Tocantins</option>
                 </select>
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="cid">Cidade</label>
             <div class="dados-preencher">
                 <i class="fas fa-map-marked-alt icon"></i>
                 <input type="text" class="input-field" name="cidade" id="cidade">
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="log">Bairro</label>
             <div class="dados-preencher">
                 <i class="fas fa-road icon"></i>
                 <input type="text" id="bairro" class="input-field" name="bairro" placeholder="Digite seu bairro" autocomplete="off">
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="log">Logradouro</label>
             <div class="dados-preencher">
                 <i class="fas fa-road icon"></i>
                 <input type="text" name="logradouro" id="logradouro" class="input-field" placeholder="Digite seu Logradouro" autocomplete="off">
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="num">Numero</label>
             <div class="dados-preencher">
                 <i class="fas fa-home icon"></i>
                 <input type="text" name="numero" id="numero" class="input-field" maxlength="4" placeholder="0000" autocomplete="off" required>
             </div>
         </div>
         <div class="dados-cadastro">
             <label for="comp">Complemento</label>
             <div class="dados-preencher">
                 <i class="fas fa-info icon  "></i>
                 <input type="text" name="complemento" id="comp" class="input-field" placeholder="Digite o Complemento" autocomplete="off">
             </div>
         </div>
         <div class="bt-container">
             <input type="submit" id="conf" value="Salvar alterações">
         </div>
     </form>-->

            <div class="accordion cursor-pointer">
                <input type="checkbox" id="chck1">
                <label for="chck1">Adicionar endereço</label>

                @using (Html.BeginForm("CreateStepThree", "Usuario", FormMethod.Post, new { @class = "dados panel" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Cep)
                        <div class="dados-preencher">
                            <i class="fas fa-map-marker-alt icon"></i>
                            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @type = "text", id = "cep", @class = "input-field", autocomplete = "off", placeholder = "Digite seu CEP", onkeypress = "mascara(this, '#####-###')", maxlength = "9", required = "required", } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                            <span id="errorCep">● O CEP digitado não foi encontrado, por favor digite um CEP válido.</span>
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Estado)
                        <div class="dados-preencher">
                            <i class="fas fa-map-marked-alt icon"></i>
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @type = "text", id = "Estado", @class = "input-field", @readonly = "readonly", autocomplete = "off", placeholder = "Estado", required = "required" } })
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Cidade)
                        <div class="dados-preencher">
                            <i class="fas fa-map-marked-alt icon"></i>
                            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @type = "text", id = "cidade", @class = "input-field", @readonly = "readonly", autocomplete = "off", placeholder = "Cidade", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Bairro)
                        <div class="dados-preencher">
                            <i class="fas fa-road icon"></i>
                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @type = "text", id = "bairro", @class = "input-field", @readonly = "readonly", autocomplete = "off", placeholder = "Bairro", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Logradouro)
                        <div class="dados-preencher">
                            <i class="fas fa-road icon"></i>
                            @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @type = "text", id = "logradouro", @class = "input-field", @readonly = "readonly", autocomplete = "off", placeholder = "Logradouro", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Numero)
                        <div class="dados-preencher">
                            <i class="fas fa-home icon"></i>
                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @type = "text", id = "numero", @class = "input-field", autocomplete = "off", placeholder = "Digite aqui", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="dados-cadastro">
                        @Html.LabelFor(model => model.Complemento)
                        <div class="dados-preencher">
                            <i class="fas fa-info icon  "></i>
                            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @type = "text", id = "comp", @class = "input-field", autocomplete = "off", placeholder = "Digite aqui" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="bt-container">
                        <input type="submit" id="conf" onclick="validarCEP(event)" value="Finalizar">
                    </div>
                }
            </div>
        </section>
    </div>
</main>
@section scripts{
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/js/cep_auto.js"></script>
    <script src="https://kit.fontawesome.com/27079de5c2.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/endereço-dadospessoais.js"></script>
    <script src="~/Content/js/main.js"></script>
}